@import url('https://fonts.googleapis.com/css2?family-Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}


body{
    background-color: #e3ebe0;
    display: flex;
    justify-content: center;
    
}


.navbar{
    /* background:linear-gradient(to bottom right,rgb(144, 246, 144), rgb(79, 224, 79)); */
    background-color: #fff;
    box-shadow: 2px 3px 20px 0.3px black;
}
.navbar .collapse .navbar-nav .nav-item:hover{
    border-radius: 12px;
    background-color: #85ee3a;
    transition: 0.3s;
    margin: 3px;
   
}


.nav-item{
   
    margin-left: 15px;
}
.image{
background-color: transparent;
height: 100px;
width:100px;
transform: scale(2);
padding-left: 15px;
margin-right:10px ;}



#one{
    transition:ease-in 0.3s;
    padding-right: 10px;
}
#one:hover{
    transform:scale(1.1);
}

#two{
    transition:ease-in 0.3s;
    padding-left: 10px;
}
#two:hover{
    transform:scale(1.1);
}


.container{
    width: 85%;
    height: fit-content;
    background-color: #f8f9fa;
    box-shadow: 3px 3px 20px 1px #94e38c;
    position: absolute;
    top: 160px;
   
}
.container h1,.container h2,.container h3{
    font-family: 'Baloo Bhai 2', cursive;
    color:#12f702;
}
.container p{
    /* font-family: "poppins",sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-left: 12px;
}
#head{
    margin-top: 20px;
}
.sub{
    margin-left: 12px;
}

/* footer css */
footer{
   position: relative;
   top: 2100px;
   bottom: 0px;
    width: 100%;
    background-color: rgb(0, 174, 0);
 }
 .main-content{
     display: flex;
 }
 .main-content .box{
     flex-basis: 50%;
     padding: 10px 20px;
 }
 .box h2{
     font-size: 1.125rem;
     font-weight: 600;
     text-transform: uppercase;
 }
 .box .content{
     margin: 20px 0 0 0;
     position: relative;
 }
 .box .content:before{
     position: absolute;
     content: '';
     top: -10px;
     height: 2px;
     width: 100%;
     background:  rgb(0, 174, 0);;
 }
 .box .content:after{
     position: absolute;
     content: '';
     height: 2px;
     width: 15%;
     background: yellow;
     top:-10px;
 }
 
 .left .content .list a:hover{
     list-style: none;
   text-decoration: underline;
   text-decoration-color: white;
   text-decoration-thickness: 3px;
   transition: 1s;
 }
 .left .content .list a{
     list-style: none;
   text-decoration: none;
  
 }
 .center .content a{
     text-decoration: none;
 }
 .center .content .place a span:hover{
     text-decoration: underline;
   text-decoration-color: white;
   text-decoration-thickness: 3px;
   transition: 1s;
 }
 .center .content .email a span:hover{
     text-decoration: underline;
   text-decoration-color: white;
   text-decoration-thickness: 3px;
   transition: 1s;
 }
 
 
 .right .content .social{
     margin: 10px 0 0px 0;
 }
 .right .content .social a span{
     height: 40px;
     width: 40px;
     background: rgb(0, 174, 0);
     line-height: 40px;
     text-align: center;
     font-size: 18px;
     border-radius: 5px;
     transition: 0.5s;
     color: white;
     margin: 6px;
     padding: 6px;
 }
 .right .content .social span{
     margin: 2px;
     padding: 2px;
 }
 .right .content .social a span:hover{
    
     height: 100px;
     width: 75px;
     border-radius: 5px;
     background-color: #85ee3a;
 }
 .right .content .phone span{
     color: white;
 }
 .right .content .phone span:hover{
     text-decoration: underline;
   text-decoration-color: white;
   text-decoration-thickness: 3px;
   transition: 1s;
 }
 .center .content .bi{
     font-size: 1.4375rem;
     background: #1a1a1a;
     height:45px;
     width: 45px;
     line-height: 45px;
     text-align: center;
     border-radius:50%;
     transition: 1s;
     cursor: pointer;
 }
 .center .content .bi:hover{
     background-color: #85ee3a;
 }
 .center .content .text{
     font-size: 1.0625rem;
     font-weight: 500;
     padding-left: 10px;
 }
 .center .content .place,.center .content .email{
     margin:5px 0;
 }
 
 .right .content .phone .bi{
     font-size: 1.4375rem;
     background: #1a1a1a;
     height:45px;
     width: 45px;
     line-height: 45px;
     text-align: center;
     border-radius:50%;
     transition: 1s;
     cursor: pointer;
 }
 .right .content .phone .bi:hover{
     background-color: #85ee3a;
 }
 
 .right .content .phone{
     width: 100%;
     font-size: 1.0625rem;
     background: rgb(0, 174, 0);
     padding-left: 10px;
     /* border: 1px solid green; */
     height: 35px;
 }
 .bottom center{
     padding: 5px;
     font-size: 0.9375rem;
     background: green;
 }
 .bottom center span{
     color:white
 }
 .bottom center a{
     color: yellow;
     text-decoration: none;
 }
 .bottom center a:hover{
    text-decoration: underline;
 }
 

 @media  screen and (max-width:1425px) {
     footer{
         position: relative;
         top: 2200px;
         bottom: 0px;
     }
 }

 @media  screen and (max-width:1255px) {
     footer{
         position: relative;
         top: 2300px;
         bottom: 0px;
     }
 }
 @media  screen and (max-width:1092px) {
     footer{
         position: relative;
         top: 2400px;
         bottom: 0px;
     }
 }
 @media  screen and (max-width:991.5px) {
     footer{
         position: relative;
         top: 2600px;
         bottom: 0px;
     }
 }
 @media  screen and (max-width:900px) {
    footer{
        position: relative;
        top: 2600px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
 @media  screen and (max-width:847px) {
    footer{
        position: relative;
        top: 2700px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
 @media  screen and (max-width:773px) {
    footer{
        position: relative;
        top: 2800px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
 @media  screen and (max-width:768px) {
    footer{
        position: relative;
        top: 3200px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
 @media  screen and (max-width:621px) {
    footer{
        position: relative;
        top: 3300px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
 @media  screen and (max-width:600px) {
    footer{
        position: relative;
        top: 3450px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
 @media  screen and (max-width:548px) {
    footer{
        position: relative;
        top: 3650px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:522px) {
    footer{
        position: relative;
        top: 3800px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:493px) {
    footer{
        position: relative;
        top: 3950px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:467px) {
    footer{
        position: relative;
        top: 4150px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:444px) {
    footer{
        position: relative;
        top: 4300px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:428px) {
    footer{
        position: relative;
        top: 4450px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:409px) {
    footer{
        position: relative;
        top: 4650px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:397px) {
    footer{
        position: relative;
        top: 4800px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:386px) {
    footer{
        position: relative;
        top: 5050px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:360px) {
    footer{
        position: relative;
        top: 5150px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:356px) {
    footer{
        position: relative;
        top: 5250px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:353px) {
    footer{
        position: relative;
        top: 5350px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:349px) {
    footer{
        position: relative;
        top: 5500px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:337px) {
    footer{
        position: relative;
        top: 5650px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:333px) {
    footer{
        position: relative;
        top: 5850px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:316px) {
    footer{
        position: relative;
        top: 6100px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:300px) {
    footer{
        position: relative;
        top: 6370px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:289px) {
    footer{
        position: relative;
        top: 6570px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
@media  screen and (max-width:285px) {
    footer{
        position: relative;
        top: 6870px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}

 /* footer css ends */
 
 
 